//purple
$th-purple-l-50: #f3e5f5;
$th-purple-l-100: #e1bee7;
$th-purple-l-200: #ce93d8;
$th-purple-l-300: #ba68c8;
$th-purple-l-400: #ab47bc;
$th-purple-primary: #9c27b0;
$th-purple-d-600: #8e24aa;
$th-purple-d-700: #7b1fa2;
$th-purple-d-800: #6a1b9a;
$th-purple-d-900: #4a148c;

.th-purple-primary {
    color: $th-purple-primary;
}

.th-purple-l-50 {
    color: $th-purple-l-50;
}

.th-purple-l-100 {
    color: $th-purple-l-100;
}

.th-purple-l-200 {
    color: $th-purple-l-200;
}

.th-purple-l-300 {
    color: $th-purple-l-300;
}

.th-purple-l-400 {
    color: $th-purple-l-400;
}

.th-purple-d-600 {
    color: $th-purple-d-600;
} 

.th-purple-d-700 {
    color: $th-purple-d-700;
}

.th-purple-d-800 {
    color: $th-purple-d-800;
}

.th-purple-d-900 {
    color: $th-purple-d-900;
}